RewriteEngine On

# Redirect tutto a index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]

# Blocca accesso a file sensibili
<FilesMatch "\.(env|log|ini)$">
  Order allow,deny
  Deny from all
</FilesMatch>
