@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600;700&display=swap');

@font-face {
  font-family: 'Glacial Indifference';
  src: url('/fonts/glacial-indifference/GlacialIndifference-Regular.woff2') format('woff2'),
    url('/fonts/glacial-indifference/GlacialIndifference-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Glacial Indifference';
  src: url('/fonts/glacial-indifference/GlacialIndifference-Italic.woff2') format('woff2'),
    url('/fonts/glacial-indifference/GlacialIndifference-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Glacial Indifference';
  src: url('/fonts/glacial-indifference/GlacialIndifference-Bold.woff2') format('woff2'),
    url('/fonts/glacial-indifference/GlacialIndifference-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
