@import './fonts.css';
@import url('https://cdn.vs12.com/font-icons/agentimage.font.icons.css');
@import '@splidejs/react-splide/css';
@import 'aos/dist/aos.css';
@import './theme.css';
@import './theme-media.css';
@import './app.css';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #ffffff;
  color: #000000;
  font-family: 'Glacial Indifference', sans-serif;
}

#root {
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

.section-title h2,
.section-title h3 {
  margin: 0;
}
